  body {
      background-color: #da007f;
      font-family: 'Merriweather', serif;
      font-size: 24px;
      color: white;
  }

  .tot {
      width: 100%;
      height: 100%;
      position: absolute;
  }

  .subtot {
      width: 100%;
  }

  #calc {
      font-family: 'Merriweather', serif;
      font-size: 24px;
      background-color: #7fda00;
      color: Black;
      text-transform: lowercase;
  }

  .input-field label {
      font-family: 'Merriweather', serif !important;
      font-size: 19px !important;
      color: white !important;
      font-size: 19px !important;
      width: 120% !important;
  }

  .input-field input[type=text] {
      border-bottom: 1px solid #000 !important;
      box-shadow: 0 1px 0 0 #fff !important;
      font-family: 'Merriweather', serif !important;
      font-size: 19px !important;
      color: white !important;
  }

  .resultat {
      height: 120px;
  }

  .row {
      padding: 20px 0;
  }

  .textillo {
      font-size: 14px;
  }

  .textillo a {
      color: #fff;
      text-decoration: underline;
  }

  .textillo a:hover {
      color: #000;
  }

  @media only screen and (max-width:37.5em) {
      .row {
          padding: 10px 0;
      }
      .input-field label {
          font-size: 15px !important;
      }
      #calc {
          font-size: 20px;
      }
      .resultat {
          font-size: 19px;
          line-height: 22px;
      }
  }

/* Progress Bar dias lectius, used help documentation from w3cshools.com, javascript reference */
#barBox {
  width: 100%;
  background-color: white;
}
/* Progress bar line animation */
#progresBar{
  width:0.01%;
  height: 30px;
  background-color: green;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
}
